@use "../abstracts/" as *;
.thread-container {
  & > ul {
    margin: 2em 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    & > li {
      margin: 2em 0;
    }
  }
}
.card-container {
  margin: 1em 0;
  display: flex;
  flex-flow: column;
  width: 100%;
  i {
    width: 1em;
    height: 1em;
  }
  .card-body {
    background: $primary;
    border: 1px solid $tertiary;
    border-radius: 1em;
    width: 100%;
  }
  .card-header {
    margin: 0.6em;
    height: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    .poster-profile-image-container > img {
      border-radius: 10%;
    }
  }
  .update-post {
    .edit-delete-icons-container {
      & > img {
        margin: 0 0 0.5em 1em;
      }
    }
    &-text {
      margin: auto;
      width: 100%;
      height: 100px;
    }
  }
  .card-footer {
    margin: 0 1em 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    &-right {
      display: flex;
    }
    .like-container {
      display: flex;
      flex-direction: row;
      align-items: baseline;
    }
  }
}
.poster-container-info {
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 10%;

  & > img {
    box-shadow: $shadow-box;
    width: 40px;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
  }
  & div {
    margin-left: 1em;
    font-weight: 500;
  }
}

.post-image-container {
  width: 100%;
  height: auto;
  margin: 0.5em auto;
  & > img {
    align-self: flex-start;
    width: 100%;
    height: 250px;
    object-fit: contain;
  }
}
.edit-container {
  display: flex;
  flex-flow: row-reverse nowrap;
  & > div {
    margin: 0 1em;
  }
}
