@use "../abstracts/" as *;

.comment-form {
  margin: 1em auto;
  border: 1px solid $tertiary;
  padding: 0.5em;
  border-radius: 1em;
  input {
    margin: 0.5em auto;
  }
  textarea {
    width: 100%;
    height: 3em;
    border-radius: 1em;
  }
  input[type="submit"] {
    cursor: pointer;
    width: 5em;
    background-color: $secondary;
    border: 1px solid $tertiary;
    line-height: 200%;
    border-radius: $base-font-size;
  }
}
.post-body {
  display: flex;
  flex-flow: column nowrap;
  &-text {
    margin-left: 3em;
  }
}

.comment-container {
  width: 95%;
  margin: 1em auto;
  padding: 0.5em;
  border: 1px solid $tertiary;
  border-radius: 1em 1em 1em 0;
 .title{
   margin-left: 1em;
 }
  &.client {
    background: $light-primary;
    width: 95%;
    margin: 1em auto;
    padding: 0.5em;
    border: 1px solid $tertiary;
    border-radius: 1em 1em 0 1em;
  }
  .comment-body {
    margin: 1em;
    height: auto;
    min-height: 3em;
    display: flex;
    align-items: center;
  }
}
.comment-header {
  height: 40px;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  .left-part-info {
    display: flex;
    flex-flow: row;
    align-items: center;
    & > img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 10%;
    }
    h4 {
      margin-left: 0.5em;
    }
  }
}
