@use "../abstracts/" as *;

.users {
  margin: auto;
  max-width: 50%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  max-width: 50%;
  background: $bg;
}
.log-container {
  height: 300px;
  margin: auto;
  width: 100%;
  padding: 1% 0;
  background: $primary;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  box-shadow: $shadow-box;
  border-radius: $base-font-size;

  .connection-form {
    width: 100%;
    .form-container {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      gap: 1em;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      & > ul {
        width: 30%;
        margin: 29px;
        padding: 0;
        li {
          margin: 20px 0;
          text-align: center;
          line-height: 200%;
          width: 100%;
          border-radius: 1em;
          box-shadow: $shadow-box;
          &:hover {
            cursor: pointer;
          }
        }
        & .active-btn {
          background: $secondary;
          outline: 2px solid $tertiary;
          border-radius: 1em;
          box-shadow: none;
        }
      }
      & form {
        width: 50%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        .formfields {
          display: flex;
          flex-flow: column nowrap;
          & input {
            width: 100%;
            line-height: 200%;
            border-radius: 1em;
            border: none;
          }
          &:first-child {
            margin-top: 30px;
          }
        }
      }
    }
    .form-submit-true {
      display: inherit;
      position: absolute;
      bottom: -30px;
      color: green;
    }
  }
  .img-container {
    margin: 1em;
    width: 40%;
    max-width: 300px;
    max-height: 300px;
    position: relative;
    box-shadow: $shadow-box;
    border-radius: 1em;

    & > img {
      border-radius: 1em;
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }
  .error {
    text-align: center;
    margin-top: 0.25em;
    color: red;
    font-weight: 300;
  }
}
.password-criterias {
  font-weight: 300;
}
