@use "../abstracts/" as *;
.nav {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 3px 5px #bbb;
  border-radius: 20px;
  margin: 1em 0;
  padding: 0.5em;
  height: 100px;
  background: $light-primary;
  .nav-container {
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .log {
    width: 30%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
  }
  .link {
    margin-top: 1em;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
  }
  h3 {
    margin: 0.25em;
  }
  img {
    height: 40px;
    width: 40px;
  }
  .welcome-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 30%;
  }
}
