@use '../abstracts/' as *;

.data {
  border: $border;
  border-radius: 1em;
  .user-info {
    margin: 1em;
    display: flex;
    justify-content: space-between;
    .img-container > img {
      width: 50px;
      height: 50px;
      border-radius: 10%;
      object-fit: cover;
    }
  }
}
.post-form {
  margin: 1em;
  &-text {
    height: 100px;
  }
  .img-preview-container {
    width: 400px;
    height: auto;
    margin: 2em auto;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.footer-form {
  height: 50px;
  margin: 0.5em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  .send-picture-icon {
    position: relative;
    label {
      margin-left: 0.5em;
    }
    & > input {
      max-width: 100%;
      &:hover {
        cursor: pointer;
      }
      opacity: 0;
      height: 30px;
      z-index: 1;
      position: absolute;
      left: 0;
    }
  }
}
