@use "../abstracts/" as *;

.data {
  border: 1px solid $tertiary;
  border-radius: $base-font-size;
  .user-info {
    margin: 1em;
    display: flex;
    justify-content: space-between;

    .img-container > img {
      border-radius: 10%;
    }
  }
}
.card-header {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
.post-form {
  margin: 1em;
}
.button {
  cursor: pointer;
  width: 5em;
  background-color: $secondary;
  border: 1px solid $tertiary;
  line-height: 200%;
  border-radius: $base-font-size;
}
.post-body {
  display: flex;
  flex-flow: column nowrap;
  &-text {
    margin-left: 3em;
  }
}
.footer-form {
  height: 50px;
  margin: 0.5em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  .send-picture-icon {
    position: relative;
    &:hover {
      cursor: pointer;
    }
    input {
      opacity: 0;
      height: 30px;
      z-index: 1;
      position: absolute;
      left: 0;
    }
  }
}
