@use "../abstracts/" as *;
.profile-container {
  max-width: 80%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  .update-container {
    background-color: $primary;
    border-radius: 20px;
    margin: auto;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    box-shadow: $shadow-box;

    .last-modified {
      text-align: center;
      font-weight: 400;
      font-size: 0.8rem;
      text-align: center;
    }
  }
}
.lr-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  align-items: baseline;
  justify-content: space-evenly;
  justify-items: center;

  .left-container,
  .right-container {
    display: flex;
    flex-flow: column nowrap;
    h1,
    h3 {
      text-align: center;
    }
  }
  .right-container {
    justify-content: space-between;
    .bio-update {
      & p {
        height: 6em;
      }
      & textarea {
        height: 7.75em;
      }
    }
  }
  .image-box {
    border-radius: 10%;
    box-shadow: $shadow-box;
    margin: auto;
    width: 150px;
    height: 150px;
    align-content: center;
    position: relative;
    & > img {
      border-radius: 10%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }
  }
}
