@use "../abstracts/" as *;
.upload-pic {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin: 20px auto;
  & label {
    align-self: center;
    width: 100%;
    margin: 20px auto;
    text-align: center;
  }
  & .input-wrapper {
    width: 100%;
    opacity: 1;
    width: 100%;
    input {
      background: $primary;
      border: none;
      width: 100%;
      cursor: pointer;
    }
    .button {
      display: inline-block;
      margin: auto;
      padding: 10px 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    input[type="submit"] {
      border-radius: 5px;
      box-shadow: 2px 3px 5px $tertiary;
      background: $secondary;
    }
  }
}
