$primary: #ffd7d7 !default;
$light-primary: #ffebeb !default;
$secondary: #ebc7c7 !default;
$tertiary: #c88080 !default;
$bg: #f6f6f6 !default;
$bg-footer: #353535 !default;
$btn-shadow: #aaaaaa !default;
$bg-shadow: #dddddd !default;
