@use "../abstracts/" as *;

.landing {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: auto;
  gap: 2em;
  width: 100%;
}

.main {
  display: flex;
  flex-flow: column nowrap;
}

.aside {
  .trending {
    background: $light-primary;
    padding: 1em;
    border-radius: 1em;
    border: $border;
  }
}
