@use "./abstracts/" as *;

* {
  font-family: $font-primary;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid $tertiary;
  border-radius: 4px;
  background-color: $light-primary;
  font-size: 16px;
  resize: none;
  &:focus {
    outline-color: $tertiary;
  }
}
.icons {
  width: 25px;
  height: 25px;
}
.button {
  margin: 0.5em;
  cursor: pointer;
  background-color: $secondary;
  border: 1px solid $tertiary;
  line-height: 200%;
  border-radius: $base-font-size;
}
